@model ApplicationDevelopment.ViewModels.BookViewModel


<h1>  hello this is create</h1>

@{
    var listCategory = ViewData["listCategories"] as List<Category>;
}

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New </h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.book.NameBook" class="control-label"></label>
                            <input asp-for="@Model.book.NameBook" class="form-control" />
                            <span asp-validation-for="@Model.book.NameBook" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.book.Price" class="control-label"></label>
                            <input asp-for="@Model.book.Price" class="form-control" />
                            <span asp-validation-for="@Model.book.Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.book.InformationBook" class="control-label"></label>
                            <input asp-for="@Model.book.InformationBook" class="form-control" />
                            <span asp-validation-for="@Model.book.InformationBook" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.book.Category" class="control-label"></label>
                            <select asp-for="@Model.book.CategoryId"
                                    asp-items="@(new SelectList(listCategory, nameof(Category.Id), nameof(Category.NameCategory)))">
                                <option>Please select one</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProfileImage" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="ProfileImage" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="@Model.book.QuantityBook" class="control-label"></label>
                            <input asp-for="@Model.book.QuantityBook" class="form-control" />
                            <span asp-validation-for="@Model.book.QuantityBook" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />

                </div>
            </form>
        </div>
    </div>
</div>





